html {
  color-scheme: dark;
}

aside,
main {
  outline: 1px solid gray;
  padding: 0.5rem;
}

main {
  padding: 1rem;
}

section {
  display: grid;
  grid-template-columns: 3fr 6fr;
  gap: 1rem;
}

main {
  flex-grow: 1;
}

li {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  width: 100%;
  outline: 1px solid gray;
  margin: 0.5rem auto;
  margin-left: -1.5rem;
  list-style: none;
}

#add-email {
  margin-bottom: 1rem;
}

#list-container {
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

@media (max-width: 600px) {
  section {
    grid-template-columns: repeat(1, 1fr);
  }
  aside {
    width: 100%;
  }

  li {
    width: 100%;
  }
}
